<%- include("partials/header") %>
<main>
    <h1>
        <%= projectDetails.title %>
    </h1>

    <h2>Assign Categories</h2>

    <form action="/assign-categories/<%= projectId %>" method="POST">

        <!-- Loop through all categories and create a checkbox for each category if the category is in the list of assigned categories for the project -->
         <div class="form-group assign">
            <% categories.forEach(category => { %>
                <div class="assign-categories">
                    <input type="checkbox"
                           id="category-<%= category.category_id %>"
                           name="categoryIds"
                           value="<%= category.category_id %>"
                           <%= assignedCategories.some(ac => ac.category_id === category.category_id) ? "checked" : " " %>
                           >

                           <label for="category-<%= category.category_id %>">
                            <%= category.name %>
                           </label>
                </div>
           <% }); %>
         </div>

         <button type="submit">
            Update categories
         </button>
    </form>
</main>
<%- include("partials/footer") %>