<%- include("partials/header") %>
        <main>
          <div class="category">

            <h1> <%= title %> Projects</h1>

            <h2> <%= title %></h2>
           

            <ul>
                <% projectDetails.forEach(project => { %>
                   
                    <li>
                        <a href="/project/<%= project.project_id %>"><%= project.title %>
                        </a>
                    </li>
               <% }); %>
            </ul>
          </div>

        <!-- Link to edit category form -->
          <div>
            <p>
              <% if (user && user.role_name === 'admin') { %>
              <a href="/edit-category/<%= categoryDetails.category_id %>">
                Edit Category
              </a>
              <% } %>
            </p>
          </div>
        </main>
<%- include("partials/footer") %>