<%- include("partials/header") %>
<main>
    <h1><%= title %></h1>

    <div>
        <p><strong>Name:</strong> <%= name %></p>
        <p><strong>Username:</strong> <%= email %></p>

        <p><% if (user && user.role_name === 'admin') { %>
        <a href="/users">
            View Registered Users
        </a>
        <% } %>
        </p>
    </div>
    
</main>
<%- include("partials/footer") %>