<%- include("partials/header") %>
<main>
    <div class="dashboard">
        <h1><%= title %></h1>


        <p><strong>Name:</strong> <%= name %></p> <p><strong>Username:</strong> <%= email %></p>
        <p><% if(user && user.role_name === "admin") { %>
             <a href="/users">View Registered Users</a> 
           <% }%>
        </p>


        <h2>My Volunteer Projects</h2>
        
        <% if (volunteerProjects && volunteerProjects.length > 0) { %>
            <ul>
                <% volunteerProjects.forEach(project => { %>
                    <li>
                        <a href="/project/<%= project.project_id %>">
                            <%= project.title %>
                        </a>
                        
                        <form action="/project/<%= project.project_id %>/unvolunteer" method="POST"
          style="display:inline;">
          
          <button type="submit">
            Unvolunteer
          </button>
        </form>
      </li>
    <% }); %>
  </ul>
<% } else { %>
  <p>You have not volunteered for any projects yet.</p>
<% } %>
    </div>
</main>
<%- include("partials/footer") %>