<%- include("partials/header") %>
        <main>
            <div class="organizations">

                <h1><%= title %></h1>

                <p>Here are a few of our partner organizations:</p>

            <ul>
                <% organizations.forEach(organization => { %>
                    <li>
                        <div class="logo-banner"><img src="/images/<%= organization.logo_filename %>" 
                        alt="<%= organization.name %> logo">
                        <span>
                            <a href="/organization/<%= organization.organization_id %>">
                                <strong><%= organization.name %></strong></a>
                        </span>
                        </div>

                        <p>
                            <%= organization.description %>
                        </p>

                        <p class="contact_email">
                            <a href="#">
                            <%= organization.contact_email %>
                            </a>
                        </p>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </main>
<%- include("partials/footer") %>