<%- include("partials/header") %>
        <main>
          <div class="projects">
            <h1><%= title %></h1>
            <h2>Upcoming Service Projects</h2>
            <ul>
              <% projects.forEach(project => { %>
                <li>
                  <p>
                    <strong>
                      Date:
                      <%= new Date(project.date).toLocaleDateString("en-GB", {
                        year: "numeric",
                        month: "long",
                        day: "numeric"
                      }) %>
                    </strong>
                    :
                    <%= project.title %>
                    (
                      <%= project.organization_name %>
                    )
                  </p>
                </li>
            <%  }); %>
            </ul>
          </div>
        </main>
<%- include("partials/footer") %>