<%- include("partials/header") %>
        <main>
          <div class="projects">
            <h1><%= title %></h1>

            <ul>
              <% projects.forEach(project => { %>
                <li>
                    <!-- Project Date -->
                     <p>
                      <strong>
                      Start Date:
                    </strong>
                      <%= new Date(project.date).toLocaleDateString("en-GB", {
                      year: "numeric",
                      month: "long",
                      day: "numeric"
                      }) %>
                     </p>
                    
                    <!-- Project Title -->
                    <p>
                      <strong>
                    <a href="/project/<%= project.project_id %>">Project Title: </strong><%= project.title %>
                    </a>
                    </p>
                    
                  <p>
                    <!-- Organization Name -->
                    <strong>
                      <a href="/organization/<%= project.organization_id %>">Implementing Organization:
                    </strong><%= project.organization_name %>
                    </a>
                  </p>
                </li>
            <%  }); %>
            </ul>
          </div>
        </main>
<%- include("partials/footer") %>