<%- include("partials/header") %>
        <main>
          <div class="project">

            <h1><%= title %> Details</h1>

            <div class="title">
              <h2><%= title %></h2>
            </div>
            
            <ul>
                <li>

                  <!-- Description -->
                  <p>
                    <%= projectDetails.description %>
                  </p>

                  <!-- Date -->
                  <p>
                    <strong>Date:</strong>
                      <%= new Date(projectDetails.date).toLocaleDateString("en-US", {
                      year: "numeric",
                      month: "long",
                      day: "numeric"
                      }) %>
                  </p>

                  <!-- Location -->
                  <p>
                    <strong>Location:</strong>
                    <%= projectDetails.location %>
                  </p>

                  <!-- Partner organization name -->
                  <p>
                    <strong>Partner Organization:</strong>
                    <a href="/organization/<%= projectDetails.organization_id %>"><%= projectDetails.organization_name %>
                    </a>
                    
                  </p>

                  <div class="category-tag">
                    <strong>Categories</strong>
                    <% categories.forEach(category => { %>
                      <a href="/category/<%= category.category_id %>">
                        
                        <div class="category-tag-name"><%= category.name %>
                        </div>
                      </a>
                  <%  }); %>
                  </div>
                </li>
            </ul>
          </div>
           <!-- Link to assign-categories form -->
           <div>
            <a href="/assign-categories/<%= projectDetails.project_id %>">
              Edit Categories
            </a>
           </div>

           <!-- Link to assign-categories form -->
           <div>
            <a href="/edit-project/<%= projectDetails.project_id %>">
              Edit Service Project
            </a>
           </div>
        </main>
<%- include("partials/footer") %>