<%- include("partials/header") %>
        <main>
          <div class="projects">
            <h1><%= title %></h1>

            <h2><%= title %></h2>

            <ul>
              <% projects.forEach(project => { %>
                <li>
                    <!-- Project Date -->
                     <p>
                      <strong>
                        <%= new Date(project.date).toLocaleDateString("en-US", {
                          month: "long",
                          day: "numeric",
                          year: "numeric"
                        }) %>:
                      </strong>

                     
                      <span>
                        <!-- Project Title -->
                        <strong>
                          <a href="/project/<%= project.project_id %>">
                          <%= project.title %>
                        </strong>
                          </a>

                      <!-- Organization Name -->
                        <strong>
                          <a href="/organization/<%= project.organization_id %>">
                            (<%= project.organization_name 
                            %>)
                          </a>
                        </strong>
                        </span>
                     </p>

                    <!-- Project description -->
                     <p>
                      <%= project.description %>
                     </p>

                    <!-- Project location -->
                     <p>
                      <%= project.location %>
                     </p>
                </li>
            <%  }); %>
            </ul>
          </div>

          <!-- New project form link -->
           <p>
            <a href="/new-project">
              Add a New Service Project
            </a>
           </p>
        </main>
<%- include("partials/footer") %>